/*block box styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

header {
  background-color: #F36;
  font-family: "Heiti SC";
  color: #FFF;
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;

}


footer {
  background-color: #F36;
  font-family: "Heiti SC";
  color: #FFF;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}


section {
  display: flex;
  border: 3px solid red;
  justify-content: center;
  align-content: center;
}

.page {
  width: 80%;
  border: 3px solid blue;
  padding: 20px 20px;
  padding-bottom: 100px;
}

.form-row{
  padding: 10px;
  border: 3px solid green;
}

.instructions {
  color: #F36;
  font-family: "Heiti SC";
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: left; 
}



.input {
  border-radius: 8px;
  background: linear-gradient(90deg, #FBECEF 0%, #FFF 100%);
  color: #330A14;
  font-family: "Heiti SC";
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  text-indent: 10px;
  width : 75%;
  min-width: 150px;

}

::placeholder {
  font-size: 14px;
}

.button {
  border-radius: 8px;
  background-color: #F36;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.68);
  color: #FFF;
  font-family: "Heiti SC";
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
}

.start-button {
  min-width: 70px;
  text-align: center;
  height: 48px;
  align-self: center;
}

.name-input {
  margin: 15px;
}

/*media queries & responsive styling*/
/* Mobile Styles */
@media only screen and (max-width: 430px) {

}

/* Tablet Styles */
@media only screen and (min-width: 431px) and (max-width: 900px) {
.instructions {
  font-size: 24px;
}
::placeholder {
  font-size: 18px;
}

.enter-name {
  display: block;
  flex-wrap: wrap;
}

}

/* Desktop Styles */
@media only screen and (min-width: 901px) {

header {
  width : 900px;
}
footer {
  width: 900px;
}
section {
  width: 900px;
}
.page {
  width:720px;
}
.instructions {
  font-size: 24px;
}
::placeholder {
  font-size: 18px;
}

.enter-name {
  display: block;
}



/* OLD CSS 
h1 {
font-family: "Heiti SC";
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

body {
width: 100%;
margin: 5%;
padding: 5%;
min-height: 100%;
font-family: "Heiti SC";
  font-size: 12px;
  font-weight: 500;
  margin: 10px;
    color: #F36;

}

.logo-bar {
  height: 50px;
  max-width: 70%;
  background-color: #F36;
  color: #FFF;
  font-family: "Heiti SC";
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin: 10px;
  padding: 5px;
  align-content: center;

}

.rectangle-button1 {
  height: 51px;
  max-width: 80%;
  min-width: 40%;
  border-radius: 8px;
  background-color: #F36;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.68);
  color: #FFF;
  font-family: "Heiti SC";
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin: 10px;
}

.face-off-button {
  height: 51px;
  max-width: 100%;
  border-radius: 8px;
  background-color: #F36;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.68);
  color: #FFF;
  font-family: "Heiti SC";
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin: 10px;
}

.instructions {
  width: 50%;
  max-width: 90%;
  height: 20px;
  color: #F36;
  font-family: "Heiti SC";
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin: 20px;
  padding: 30px;
}

.results {
	color: #F36;
  font-family: "Heiti SC";
}

.enter-rectangle {
  height: 50px;
  max-width: 100%;
  border-radius: 8px;
  background: linear-gradient(90deg, #FBECEF 0%, #FFF 100%);
  color: #F36;
  font-family: "Heiti SC";
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

#slow_server_response {
  border-radius: 6px;

}

*/