/*block box styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

header {
  background-color: #F36;
  font-family: "Heiti SC";
  color: #FFF;
  min-height: 70px;
  font-size: 36px;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }


footer {
  background-color: #F36;
  font-family: "Heiti SC";
  color: #FFF;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}


section {
  display: flex;
  justify-content: center;
  align-content: center;
}

.page {
  width: 80%;
  padding: 20px 20px;
  padding-bottom: 100px;

}

.form-row{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.instructions {
  color: #F36;
  font-family: "Heiti SC";
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: center; 
}
.instructionsHeader {
  margin-top: 20px;
}

.results {
  color: #F36;
  font-family: "Heiti SC";
  font-size: 16px;
  font-weight: 500;
  text-align: center; 
}

.input {
  border-radius: 8px;
  background: linear-gradient(90deg, #FBECEF 0%, #FFF 100%);
  color: #330A14;
  font-family: "Heiti SC";
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  text-indent: 10px;
  width : 75%;
  min-width: 150px;
}

::placeholder {
  font-size: 14px;
}

.button {
  border-radius: 8px;
  background-color: #F36;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.68);
  color: #FFF;
  font-family: "Heiti SC";
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
}

.start-button {
  min-width: 70px;
  text-align: center;
  height: 48px;
}


.name-input {
  margin: 15px;
}

.face-off {
  display: inline-block;
  text-overflow: hidden;
  white-space: normal;
  margin: 15px;
  min-width: 120px;
}

.header_buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.startover, .share {
  font-size: 12px;
  padding: 8px;
  margin: 5px;
}



h1 {
  padding: 10px;
  font-size: 30px;
}

.results-announce{
  display: flex;
  flex-direction: column;
}

.results-table {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rank-table {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Heiti SC";
  min-width: 150px;
  margin: 5px;
  border: 1px solid #F36;
  border-collapse: collapse;
  text-align: center;

}

.rank-table-header {
  background-color: #F36;
  color: #FFF;
  font-size: 16px;
  padding: 8px;
  text-align: left;
}


.rank-table-rows {
  color: #F36;
  border-spacing: 20px;
  text-align: left;
  padding: 5px;
  font-size: 18px;
  line-height: 20px;
  border-collapse: collapse;
}

.rank-table-title {
  display: inline-block;
  padding: 5px;
  font-size: 20px;
  line-height: normal;
}


li {
  border: 1px solid #F36;
  border-collapse: collapse;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.indiv-results-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

}




.break {
  font-size: 20px;
  padding: 5px;
  font-weight: 500;
}

hr {
  border-style: solid;
  border-width: 1px;
  border-color: #F36;
  margin-bottom: 20px;
}


/*media queries & responsive styling*/
/* Mobile Styles */
@media only screen and (max-width: 430px) {

header, footer, section {
  min-width: 300px
}

}

/* Tablet Styles */
@media only screen and (min-width: 431px) and (max-width: 900px) {
.instructions {
  font-size: 24px;
}
::placeholder {
  font-size: 18px;
}

.header_buttons {
  flex-direction: row;
  justify-content: space-between;
}


.indiv {
  width: 42%;
  align-content: left;
}

}

/* Desktop Styles */
@media only screen and (min-width: 901px) {

header {
  width : 900px;
}
footer {
  width: 900px;
}
section {
  width: 900px;
}
.page {
  width:720px;
}
.instructions {
  font-size: 24px;
}
::placeholder {
  font-size: 18px;
}
.indiv-results-display {
  justify-content: space-between;
}
.indiv {
  width: 20%;
  align-items: left;
}



/* OLD CSS 
h1 {
font-family: "Heiti SC";
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

body {
width: 100%;
margin: 5%;
padding: 5%;
min-height: 100%;
font-family: "Heiti SC";
  font-size: 12px;
  font-weight: 500;
  margin: 10px;
    color: #F36;

}

.logo-bar {
  height: 50px;
  max-width: 70%;
  background-color: #F36;
  color: #FFF;
  font-family: "Heiti SC";
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin: 10px;
  padding: 5px;
  align-content: center;

}

.rectangle-button1 {
  height: 51px;
  max-width: 80%;
  min-width: 40%;
  border-radius: 8px;
  background-color: #F36;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.68);
  color: #FFF;
  font-family: "Heiti SC";
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin: 10px;
}

.face-off-button {
  height: 51px;
  max-width: 100%;
  border-radius: 8px;
  background-color: #F36;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.68);
  color: #FFF;
  font-family: "Heiti SC";
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin: 10px;
}

.instructions {
  width: 50%;
  max-width: 90%;
  height: 20px;
  color: #F36;
  font-family: "Heiti SC";
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin: 20px;
  padding: 30px;
}

.results {
	color: #F36;
  font-family: "Heiti SC";
}

.enter-rectangle {
  height: 50px;
  max-width: 100%;
  border-radius: 8px;
  background: linear-gradient(90deg, #FBECEF 0%, #FFF 100%);
  color: #F36;
  font-family: "Heiti SC";
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

/* .form-row { border: 3px solid green; } 
.results-announce { border: 3px solid yellow; }
section { border: 3px solid red; }
.page { border: 3px solid blue; }
.results-table { 
 }
h1 { border: solid 3px #F36; }
.rank-table { border: 3px solid orange; } */
