/*block box styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

header {
  background-color: #F36;
  font-family: "Heiti SC";
  color: #FFF;
  min-height: 70px;
  font-size: 28px;
  padding: 5px;
  padding-top: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /*border: 3px solid blue;*/

  }

  .header-intro {
    font-size: 20px;
    padding-right: 5px;
    text-align: right;
  }

  .share-container {
    display: flex;
    flex-direction: column;
    min-width: 0;
    /*border: 3px solid green;*/
  }




footer {
  background-color: #F36;
  font-family: "Heiti SC";
  color: #FFF;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}


section {
  display: flex;
  justify-content: center;
  align-content: center;
}

.page {
  width: 80%;
  padding: 20px 20px;
  padding-bottom: 100px;

}

.form-row{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.instructions {
  color: #F36;
  font-family: "Heiti SC";
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: center; 
}
.instructionsHeader {
  margin-top: 20px;
}

.results {
  color: #F36;
  font-family: "Heiti SC";
  font-size: 16px;
  font-weight: 500;
  text-align: center; 
}

.input {
  border-radius: 8px;
  background: linear-gradient(90deg, #FBECEF 0%, #FFF 100%);
  color: #330A14;
  font-family: "Heiti SC";
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  text-indent: 10px;
  width : 75%;
  min-width: 150px;
}

.link-input {
  font-size: 10px;
  line-height: 12px;
  text-indent: 0px;
  color: #FFF; 
  background-color: #F36;
  background: transparent;
  border: 1px dotted #FFF; 
  padding: 5px;
  width: 100%;
}

::placeholder {
  font-size: 14px;
}

.button {
  border-radius: 8px;
  background-color: #F36;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.68);
  color: #FFF;
  font-family: "Heiti SC";
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
}

.start-button {
  min-width: 70px;
  text-align: center;
  height: 48px;
}

  .header-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 0;
 /* border: 3px solid orange;*/


}

.startover, .share {
  font-size: 10px;
  padding: 8px;
  margin: 5px;
}

.startover {
  margin-bottom: 0;
}


.name-input {
  margin: 15px;
}

.face-off {
  display: inline-block;
  text-overflow: hidden;
  white-space: normal;
  margin: 15px;
  min-width: 120px;
}

#progress {
  display: block;
  margin-top: 40px;
  width: 250px;
  background-color: grey;
  color: #FFF;
  text-align: left;
}

#my-bar {
  display: block;
  padding: 8px;
  font-size: 16px;
  width: 10%;
  height: 30px;
  background-color: #F36;
  color: #FFF;
}





h1 {
  padding: 10px;
  font-size: 30px;
}

.results-announce{
  display: flex;
  flex-direction: column;
}

.results-table {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rank-table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Heiti SC";
  margin: 5px;
  border: 1px solid #F36;
  border-collapse: collapse;


}

.rank-table-header {
  background-color: #F36;
  color: #FFF;
  font-size: 16px;
  padding: 8px;
  text-align: left;
}


.rank-table-rows {
  color: #F36;
  border-spacing: 20px;
  text-align: left;
  padding: 5px;
  font-size: 18px;
  line-height: 20px;
  border-collapse: collapse;
}

.rank-table-title {
  display: inline-block;
  padding: 5px;
  font-size: 20px;
  line-height: normal;
  text-align: center;


}

/*.rank-table-toprow {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-wrap: wrap;
  }*/


li {
  border: 1px solid #F36;
  border-collapse: collapse;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.indiv-results-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

}




.break {
  font-size: 20px;
  padding: 5px;
  font-weight: 500;
}

hr {
  border-style: solid;
  border-width: 1px;
  border-color: #F36;
  margin-bottom: 20px;
}


/*media queries & responsive styling*/
/* Mobile Styles */
@media only screen and (max-width: 430px) {

header, footer, section {
  min-width: 300px;
}

}

/* Tablet Styles */
@media only screen and (min-width: 431px) and (max-width: 900px) {
.instructions {
  font-size: 24px;
}
::placeholder {
  font-size: 18px;
}

header {
  align-items: center;
}
.header-buttons {
  flex-direction: row;
  justify-content: space-between;
}

.header-intro {
  min-width: 60%;
}

.indiv {
  width: 42%;
  align-content: left;
}

.startover, .share {
  font-size: 12px;
}
}

/* Desktop Styles */
@media only screen and (min-width: 901px) {

header {
  max-width : 1100px;
  align-items: center;
}
footer {
  max-width: 1100px;
}
section {
  max-width: 1100px;
}
.page {
  width:720px;
}
.instructions {
  font-size: 24px;
}
::placeholder {
  font-size: 18px;
}
.indiv-results-display {
  justify-content: space-between;
}
.indiv {
  width: 20%;
  align-items: left;
}

.header-buttons {
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
  /*border: 3px solid red;*/

}

.startover {
  font-size: 16px;
  width: 100%; 
  margin: 0;


}

.share {
  font-size: 16px;
  margin: 0;
  margin-right: 5px;
}

.share-container {
  margin-left: 10px;

}
.link-input {
  margin-top: 5px;
  padding: 5px;

}

}
/* .form-row { border: 3px solid green; } 
.results-announce { border: 3px solid yellow; }
section { border: 3px solid red; }
.page { border: 3px solid blue; }
.results-table { 
 }
h1 { border: solid 3px #F36; }
.rank-table { border: 3px solid orange; } */
